@{
    ViewData["Title"] = "Home Page";
}

<style>
    .cell {
        outline: 2px solid #000;
        width: 15px;
        height: 15px;
        background:white;
    }
    .fixedbut {
        position: fixed;
        bottom: 20px;
        border-radius: 120px;
        right: 20px;
        display: block;
        background: #000000;
        color: white;
        text-decoration: none;
        padding: 5px 15px;
        font-size: 17px;
    }
</style>

    <div class="fixedbut" style="bottom:140px; background:#00b900"> </div>
    <div class="fixedbut" style="bottom: 120px; background: #0026ff"> </div>
    <div class="fixedbut" style="bottom:100px; background:#b200ff"> </div>
    <div class="fixedbut" style="bottom:80px; background:#808080"> </div>
    <div class="fixedbut" style="bottom: 60px; background: #ff0000"> </div>
    <div class="fixedbut" style="bottom:40px; background:#ffd800; "> </div>
    <div class="fixedbut"> </div>


@for (int i = 1; i < 125; i++)
{
    <div class="row" style="flex-wrap:nowrap; display:-webkit-box">
        @for (int j = 0; j < 125; j++)
        {
        <div class="cell" id="@(j.ToString()+"-"+i.ToString())">
            <input class="x" type="number" name="x" value="@j" hidden />
            <input class="y" type="number" name="y" value="@i" hidden />
        </div>
        }
    </div>
    
}


<script>
    var brush = "red";

    window.onload = function () {
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/battle")
            .build();


        $.getJSON("/api/AJAX/GetCells", function (data) {
            for (var i in data) {
                var cell = data[i];
                $("#" + cell.x + "-" + cell.y).css("background", cell.color);
            }
            alert('Загрузка завершена.');
        });

        hubConnection.on("Send", function (x, y, color) {
            var id = String(x)+"-"+String(y);
            var selector = '#' + id;
            $(selector).css("background", color);
        });

        $('.cell').bind('click', function (e) {
            $(this).css("background", brush);

            $.get('api/AJAX/AddCell?x=' + $(this).children('.x').val() + '&y=' + $(this).children('.y').val() + '&color=' + brush, function (data) {
                
            });

            hubConnection.invoke("Send", $(this).children('.x').val(), $(this).children('.y').val(), brush);
        });

        $('.fixedbut').bind('click', function (e) {
            brush = $(this).css("background");
        });
        hubConnection.start();    
    };
</script>

<script>
    
</script>