@{
    ViewData["Title"] = "Home Page";
}

<style>
    .cell {
        outline: 2px solid #000; /* Чёрная рамка */
        width: 15px;
        height: 15px;
        background:white;
    }
</style>

@for (int i = 1; i < 125; i++)
{
    <div class="row" style="flex-wrap:nowrap; display:-webkit-box">
        @for (int j = 0; j < 125; j++)
        {
        <div class="cell" id="@(j.ToString()+"-"+i.ToString())">
            <input class="x" type="number" name="x" value="@j" hidden />
            <input class="y" type="number" name="y" value="@i" hidden />
        </div>
        }
    </div>
    
}

<script>
    var brush = "red";
    window.onload = function () {
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/battle")
            .build();

        hubConnection.on("Send", function (x, y, color) {
            var id = String(x)+"-"+ String(y);
            var selector = '#' + id;
            $(selector).css("background", color);
        });

        $('.cell').bind('click', function (e) {
            $(this).css("background", brush);
            hubConnection.invoke("Send", $(this).children('.x').val(), $(this).children('.y').val(), brush);
        });

        hubConnection.start();    
    };
</script>

<script>
    
</script>