@{
    ViewData["Title"] = "PixelBattle";
}


<div class="preloader">
    <div class="timer"></div>
</div>


<div class="fixedbut" style="bottom:140px; background:#00b900"> </div>@* Палитра выбора цвета *@
<div class="fixedbut" style="bottom: 120px; background: #0026ff"> </div>
<div class="fixedbut" style="bottom:100px; background:#b200ff"> </div>
<div class="fixedbut" style="bottom:80px; background:#808080"> </div>
<div class="fixedbut" style="bottom: 60px; background: #ff0000"> </div>
<div class="fixedbut" style="bottom:40px; background:#ffd800; "> </div>
<div class="fixedbut"> </div>

<div class="seconds">0</div> @* Таймер *@

@for (int i = 1; i < 125; i++)@* Генерация двумерного массива клеток *@
{
    <div class="row" style="flex-wrap:nowrap; display:-webkit-box">
        @for (int j = 0; j < 125; j++)
        {
            <div class="cell" id="@(j.ToString()+"-"+i.ToString())">
                <input class="x" type="number" name="x" value="@j" hidden />
                <input class="y" type="number" name="y" value="@i" hidden />
            </div>
        }
    </div>
}


